@keyframes moveInLeft {
    0% { /*When animation starts*/
        opacity: 0; /*Makes it invisible at the beginning of animation*/
        transform: translateX(-10rem); /*Moves text from left to right*/
    }

    80% {
        transform: translateX(1rem); /*Move text to the right side at 80%*/
    }

    100% { /*When animation finishes*/
        opacity: 1; /*Returns the default text*/
        transform: translate(0); /*Positions the text where it was initially*/
    }
}

@keyframes moveInRight {
    0% { /*When animation starts*/
        opacity: 0; /*Makes it invisible at the beginning of animation*/
        transform: translateX(10rem); /*Moves text from right to left*/
    }

    80% {
        transform: translateX(-1rem); /*Moves text to the left side at 80%*/
    }

    100% { /*When animation finishes*/
        opacity: 1; /*Returns the default text*/
        transform: translate(0); /*Positions the text where it was initially*/
    }
}

@keyframes moveInBottom {
    0% { /*When animation starts*/
        opacity: 0; /*Makes it invisible at the beginning of animation*/
        transform: translateY(3rem); /*Moves text from bottom to top*/
    }

    100% { /*When animation finishes*/
        opacity: 1; /*Returns the default text*/
        transform: translate(0); /*Positions the text where it was initially*/
    }
}