*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /*Inheritance forcing*/
}

html { /*Setting the root font size as 10px to make it easier to change the rem units. 1 rem==10px*/
    // This defines what 1 rem is
    font-size: 62.5%; /* 10/16*100==62.5  16px is the default fontsize which is = 100%*/
}

body {
    box-sizing: border-box;
}
